/* Extra Small devices ( potrait phones, less than 576px ) */

@media (max-width: 575.98px) { 
        header {
            background-color: #F0FFF0;
            padding:  0;
}
 .menu ul li a {
                margin-bottom: 5px;
                padding: 0px 5px !important;
                
            }
 .banner {
    padding-bottom: 60px;
}
/* banner image*/
.banner_img {
        margin-bottom: 30px;
        padding: 0 ;
}
/*banner text*/
.banner_text {
    text-align: center;
}

.b_h1 { 
    padding: 0 45px;
    font-size: 35px;
    line-height: 40px;
  }
.b_p2 {
    padding: 0  ;
    line-height: 26px;
}
.btn_link {
    margin: 15px auto 0;
 }
 }

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) { 
     header {
            background-color: #F0FFF0;
            padding: 5px 0;
}
 .menu ul li a {
                margin-bottom: 5px;
                padding: 0px 5px !important;
                
            }
/* banner image*/
.banner_img {
        margin-bottom: 30px;
        padding: 0 60px;
}
/*banner text*/
.banner_text {
    text-align: center;
}

.b_h1 { 
    padding: 0 70px  0;
    font-size: 35px;
    line-height: 45px;
  }
.b_p2 {
    padding: 0 30px ;
    line-height: 30px;
}
.btn_link {
    margin: 15px auto 0;
 }
 }
 

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) { 
/*  header start */
 .menu ul li a {
                margin-bottom: 5px;
                padding: 0px 5px !important;
                
            }
/* banner image*/
.banner_img {
        margin-bottom: 30px;
        padding: 0 100px;
}
/*banner text*/
.banner_text {
    text-align: center;
}

.b_h1 { 
    padding: 0 130px  0;
    line-height: 60px;
  }
.b_p2 {
    padding: 0 130px  0;
    line-height: 30px;
}
.btn_link {
    margin: 15px auto 0;
 }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) { 

.b_h1 {
    padding: 0 0 0 0;
    font-size: 43px;



 }

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) and (max-width: 1399.98px) { 

 }

/* Extra Extra large devices (large desktops, 1400px and up) */

@media (min-width: 1400px) { 

.b_h1 {
  
    padding: 0 110px 0 0;  
}
 }